:root {
  --black: #000;
  --white: #FFF;
  --lilas: #5E3AEE;
  --lilas-2: #8d70ff;
  --black-2: #28272C;
  --gray: #212121;
  --gray-2: #00000087;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .1em;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  color: var(--black);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
button,
input,
div {
  font-family: 'Montserrat', sans-serif;
}

span {
  color: var(--lilas);
}

header,
nav,
.banner,
.divText,
.containerHabilidades,
.containerCards,
.cardsHabilidades,
.containerContatos,
.divTextContato,
.containerSobre,
.cardSobre,
.card,
.sobreMim,
.containerFooter,
.divIcons,
.containerProjetos,
.divTituloProjetos,
.divCardProjetos,
.sectionServicos,
.infoServico,
.divCardSrvicos,
.cardServicos,
.divTituloServico {
  display: flex;
}

header {
  display: flex;
  justify-content: space-around;
}

.divIcons {
  width: 15%;
  justify-content: space-between;
}

nav {
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-around;
}

nav li a {
  height: 24px;

  &:hover {
    color: var(--lilas);
    font-weight: 700;
    border-bottom: 3px solid var(--lilas);
  }
}

.BtnCTA {
  width: 418px;
  height: 57px;
  border-radius: 4px;
  margin-bottom: 2%;
  color: var(--white);
  background-color: var(--lilas);
  cursor: pointer;
}

.sectionBanner {
  margin: 0 7%;
}

.banner {
  height: 640px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 56px;
    font-weight: 100;
    margin-bottom: 1%;
  }

  h2 {
    font-size: 24px;
    color: var(--black-2);
  }

  .divButton {
    width: 50%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
  }

  .buttonCV {
    width: 250px;
    height: 50px;
    color: var(--lilas);
    border-radius: 4px;
    background-color: var(--white);
    border: 2px solid var(--lilas);
    cursor: pointer;

  }

  .buttonCV:hover {
    color: var(--white);
    background-color: var(--lilas);
  }
  
  .buttonGit {
    width: 250px;
    color: var(--white);
    border-radius: 4px;
    background-color: var(--black);
    cursor: pointer;
  }
}

.divText {
  flex-direction: column;
  position: absolute;
  margin: 2% 0;

  h1 {
    width: 710px;
    font-size: 48px;
  }

  p {
    width: 70%;
    font-size: 16px;
  }

  button {
    width: 418px;
    height: 57px;
    color: var(--white);
    background-color: var(--lilas);
    border-radius: 4px;
    cursor: pointer;
  }
}

.divImg {
  bottom: -10;
  left: 42%;
  position: absolute;
}

.containerHabilidades {
  padding: 3% 0;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);

  h2 {
    width: 747px;
    height: 98px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
    color: var(--white);
  }

  button {
    width: 418px;
    height: 57px;
    margin-bottom: 3%;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--lilas);
  }
}

.containerCards {
  width: 100%;
  margin: 5% 0;
  justify-content: center;
}

.cardsHabilidades {
  width: 300px;
  height: 300px;
  margin: 0 2%;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: #28272C;

  h3 {
    color: var(--white);
    margin: 30px 25px 0 25px;
  }

  p {
    font-size: 14px;
    margin: 20px 25px;
    color: var(--white);
  }

  img {
    width: 100%;
    max-width: 70px;
    margin-top: 5%;
  }
}

.sectionServicos {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0 0 0;

  h2 {
    font-weight: 700;
    font-size: 40px;
    width: 601px;
    height: 98px;
    text-align: center;
  }
}

.infoServico {
  width: 80%;
  margin: 4%;

  #imgHomem {
    max-width: 400px;
    right: 10%;
    position: absolute;
  }
}

.divCardSrvicos {
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    margin-top: 3%;
    border-radius: 4px;
  }
}

.cardServicos {
  flex-direction: column;
  justify-content: space-around;
  margin: 1%;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--black-2);

  h6 {
    font-size: 18px;
    color: var(--white);
  }

  p {
    font-size: 14px;
    font-weight: 200;
    color: var(--white);
    margin: 0 10% 10% 10%;
  }
}

.divTituloServico {
  align-items: center;
  margin: 10% 10% 0 10%;

  img {
    margin-right: 5%;
  }
}

.containerSobre {
  margin-top: 5%;
  padding: 5% 0 0 0;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-2);

  h2 {
    width: 896px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--white);
  }
}

.cardSobre {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 5% 0;
}

.card {
  flex-wrap: wrap;
  justify-content: center;
}

.card img,
.card a {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
  margin: 2%;
}

.sobreMim {
  justify-content: space-between;
  align-items: center;
  margin: 0 15% 2% 15%;

  img {
    width: 15%;
    border-radius: 100px;
  }
}

.textSobre {
  width: 80%;

  p {
    margin: 2% 0;
    font-size: 14px;
    font-weight: 200;
    color: var(--white);
  }

  a {
    font-weight: 600;
    color: var(--white);
  }
}

.card img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cardImg {
  width: 100%;
}

.containerProjetos {
  flex-direction: column;
  align-items: center;
  margin-top: 2%;

  h2 {
    width: 713px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
}

.divTituloProjetos {
  align-items: center;

  img {
    width: 100%;
    max-width: 200px;
  }
}

.divCardProjetos {
  width: 100%;
  margin: 2% 0;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.CardProjetos {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 0;
  
  .divDescricaoCard,
  .divDescricaoOutrosCard {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-top: 5%;
    }
  }

  img {
    max-width: 550px;
  }

  h6 {
    font-size: 20px;
    text-align: center;
    margin: 1% 0;
    color: var(--black);
  }
}

.categoriaProjeto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  p {
    font-size: 12px;
    margin: 0 5px;
    padding: 1% 2%;
    border-radius: 16px;
    color: var(--lilas);
    border: 1px solid var(--lilas);
  }
}

.sectionOutrosProjetos {
  width: 80%;
  margin: 3% 0;
  display: flex;
  justify-content: space-around;
}

.CardOutrosProjetos {
  width: 300px;
  margin: 1%;
  border-radius: 4px;
  background-color: var(--black-2);
  
  img {
    max-width: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  h6 {
    font-size: 16px;
    text-align: center;
    margin: 3% 0;
    color: var(--white);
  }
  
  p {
    font-size: 12px;
    margin-top: 3%;
    padding: 5%;
    color: var(--white);
  }

}

.CardOutrosProjetos:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.containerContatos {
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.divTextContato {
  flex-direction: column;

  h3 {
    width: 503px;
    font-weight: 700;
    font-size: 40px;
  }

  p {
    width: 503px;
    left: 181px;
    font-weight: 400;
    font-size: 20px;
    margin: 5% 0 10% 0;
  }

  
}
.divButton {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .buttonEContato {
    width: 150px;
    height: 50px;
    color: var(--lilas);
    border-radius: 4px;
    border: 2px solid var(--lilas);
    background-color: var(--white);
    cursor: pointer;
  }

  .buttonEContato:hover {
    border: none;
    color: var(--white);
    background-color: var(--lilas);
  }
}

.buttonEntrarContato {
  width: 150px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--lilas);
  cursor: pointer;
}

.containerFooter {
  height: 80px;
  padding: 1% 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--black);

  p {
    color: var(--white);
  }
}