:root {
  --black: #000;
  --white: #FFF;
  --lilas: #5E3AEE;
  --black-2: #28272C;
  --gray: #212121;
  --gray-2: #00000087;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  color: var(--black);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span, p, button, input, div {
  font-family: 'Montserrat', sans-serif;
}

span {
  color: var(--lilas);
}

header,
nav ul {
  display: flex;
}

header {
  padding: 2% 0;
  justify-content: center;
}

nav {
  width: 700px;
}

nav ul {
  justify-content: space-between;
}

nav ul li {
  margin: 0 2%;
}

.BtnCTA {
  width: 418px;
  height: 57px;
  margin-bottom: 2%;
  color: var(--white);
  background-color: var(--lilas);
  cursor: pointer;
}

.sectionBanner {
  margin: 0 5%;
}

.banner {
  height: 640px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divText {
  display: flex;
  flex-direction: column;
  position: absolute;

  h1 {
    width: 710px;
    font-size: 64px;
  }

  p {
    width: 60%;
    font-size: 16px;
    margin: 32px 0;
  }

  button {
    width: 418px;
    height: 57px;
    color: var(--white);
    background-color: var(--lilas);
    cursor: pointer;
  }
}

.divImg {
  bottom: -10;
  left: 44%;
  position: absolute;
}

.containerHabilidades {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  // border: 2px solid red;

  h2 {
    width: 747px;
    height: 98px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
    color: var(--white);
  }

  button {
    width: 418px;
    height: 57px;
    margin-bottom: 3%;
    color: var(--white);
    background-color: var(--lilas);
  }
}

.containerCards {
  display: flex;

  width: 100%;
  margin: 5% 0;
}

.cardsHabilidades {
  width: 300px;
  height: 300px;
  margin: 0 2%;

  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: #28272C;
  
  h3 {
    color: var(--white);
    margin: 30px 25px 0 25px;
  }
  
  p {
    font-size: 14px;
    margin: 20px 25px;
    color: var(--white);
  }

  img {
    width: 100%;
    max-width: 70px;
    margin-top: 5%;
  }
}

.containerContatos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.divTextContato {
  display: flex;
  flex-direction: column;

  h3 {
    width: 503px; 
    font-weight: 700;
    font-size: 40px;
  }

  p {
    width: 503px;
    left: 181px;
    font-weight: 400;
    font-size: 20px;
    margin: 5% 0 10% 0;
  }
}

.containerSobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 0 0;
  background-color: var(--black-2);

  h2 {
    width: 896px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--white);
  }
}

.cardSobre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 55%;
  height: 220px;
  margin: 5% 0;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}

.card img:hover, 
.CardProjetos:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cardImg--1 {
  width: 100%;
}

.cardImg--2 {
  width: 80%;
}

.sobreMin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15% 2% 15%;

  img {
    width: 15%;
    border-radius: 100px;
  }
}

.textSobre {
  width: 80%;

  p {
    margin: 2% 0;
    font-size: 14px;
    font-weight: 200;
    color: var(--white);
  }
  
  a {
    font-weight: 600;
    color: var(--white);
  }
}

.containerFooter {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);

  p {
    color: var(--white);
  }
}

.divIcons {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.containerProjetos {
  display: flex;
  flex-direction: column;
  margin-top: 2%;

  h2 {
    width: 713px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
}

.divTituloProjetos {
  display: flex;
  align-items: center;
  margin-left: 10%;

  img {
    width: 100%;
    max-width: 200px;
  }
}

.divCardProjetos {
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.CardProjetos {
  width: 550px;
  margin-top: 3%;
  background-color: var(--gray);

  &:hover {
    background-color: var(--gray-2);
  }

  img {
    max-width: 550px;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(20%)
    }
  }

  h6 {
    font-size: 20px;
    text-align: center;
    margin: 1% 0;
    color: var(--white);
  }
}