.containerHabilidades {
  padding: 3% 0;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);

  h2 {
    width: 747px;
    height: 98px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
    color: var(--white);
  }

  button {
    width: 418px;
    height: 57px;
    margin-bottom: 3%;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--lilas);
  }
}

.containerCards {
  width: 100%;
  margin: 5% 0;
  justify-content: center;
}

.cardsHabilidades {
  width: 300px;
  height: 300px;
  margin: 0 2%;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: #28272C;

  h3 {
    color: var(--white);
    margin: 30px 25px 0 25px;
  }

  p {
    font-size: 14px;
    margin: 20px 25px;
    color: var(--white);
  }

  img {
    width: 100%;
    max-width: 70px;
    margin-top: 5%;
  }
}

@media (max-width: 527px) {
  .containerHabilidades {
    flex-direction: column;

    h2 {
      width: 90%;
      height: 50px;
      font-size: 20px;
      margin-top: 2%;
    }

    .containerCards {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .cardsHabilidades {
      width: 250px;
      margin: 2% 0;
    }
  }
}

@media (min-width: 528px) and (max-width: 1000px) {
  .containerHabilidades {
    width: 100%;

    h2 {
      width: 90%;
      font-size: 24px;
    }
  }

  .containerCards {
    flex-wrap: wrap;
  }

  .cardsHabilidades {
    width: 250px;
    margin-bottom: 3%;

    img {
      max-width: 70px;
    }
  }
}

@media (min-width: 716px) and (max-width: 1000px){
  .containerHabilidades {
    h2 {
      width: 90%;
      font-size: 32px;
    }
  }
}

@media (min-width: 1001px) {
  .cardsHabilidades {
    margin-bottom: 3%;
    padding-bottom: 2%;

    img {
      max-width: 70px;
    }
  }
}