.containerProjetos {
  flex-direction: column;
  align-items: center;
  margin-top: 2%;

  h2 {
    width: 713px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
}

.divTituloProjetos {
  align-items: center;

  img {
    width: 100%;
    max-width: 200px;
  }
}

.divCardProjetos {
  width: 100%;
  margin: 2% 0;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.CardProjetos {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 0;
  
  .divDescricaoCard,
  .divDescricaoOutrosCard {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-top: 5%;
    }
  }

  img {
    max-width: 550px;
  }

  h6 {
    font-size: 20px;
    text-align: center;
    margin: 1% 0;
    color: var(--black);
  }
}

.categoriaProjeto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  p {
    font-size: 12px;
    margin: 0 5px;
    padding: 1% 2%;
    border-radius: 16px;
    color: var(--lilas);
    border: 1px solid var(--lilas);
  }
}

.sectionOutrosProjetos {
  width: 80%;
  margin: 3% 0;
  display: flex;
  justify-content: space-around;
}

.CardOutrosProjetos {
  width: 300px;
  margin: 1%;
  border-radius: 4px;
  background-color: var(--black-2);
  
  img {
    max-width: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  h6 {
    font-size: 16px;
    text-align: center;
    margin: 3% 0;
    color: var(--white);
  }
  
  p {
    font-size: 12px;
    margin-top: 3%;
    padding: 5%;
    color: var(--white);
  }

}

.CardOutrosProjetos:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 380px) {
  .containerProjetos {
    h2 {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin: 5% 0;
    }
  }

  #tituloOutros {
    width: 90%;
  }

  .divTituloProjetos {
    width: 95%;
  
    img {
      display: none;
    }
  }

  .CardProjetos {
    width: 90%;
    flex-direction: column;
    
    .divDescricaoCard,
    .divDescricaoOutrosCard {
      width: 100%;

      p {
        margin: 5% 0;
      }
    }
  
    img {
      max-width: 100%;
    }
  }

  .categoriaProjeto {
    display: flex;
    flex-wrap: wrap;
    
    #itemCategoria {
      margin-right: 1%;
    }
  }

  .sectionOutrosProjetos {
    width: 90%;
    flex-wrap: wrap;
  }

  .CardOutrosProjetos {
    margin: 5% 0;
    border: 1px solid #c3c3c3;
  }
}

@media (min-width: 381px) and (max-width: 600px) {
  .containerProjetos {
    
    h2 {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin: 5% 0;
    }
  }

  #tituloOutros {
    width: 90%;
  }

  .divTituloProjetos {
    width: 90%;
  
    img {
      display: none;
    }
  }

  .CardProjetos {
    width: 90%;
    flex-direction: column;
    
    .divDescricaoCard,
    .divDescricaoOutrosCard {
      width: 100%;

      p {
        margin: 5% 0;
      }
    }
  
    img {
      max-width: 100%;
    }
  }

  .categoriaProjeto {
    display: flex;
    flex-wrap: wrap;
    
    #itemCategoria {
      margin-right: 1%;
    }
  }

  .sectionOutrosProjetos {
    width: 90%;
    flex-wrap: wrap;
  }

  .CardOutrosProjetos {
    margin: 5% 0;
    border: 1px solid #c3c3c3;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .containerProjetos {
    
    h2 {
      font-size: 42px;
      font-weight: 700;
      text-align: center;
      margin: 5% 0;
    }
  }
  
  #tituloOutros {
    width: 90%;
  }

  .divTituloProjetos {
    width: 90%;
  
    img {
      display: none;
    }
  }

  .CardProjetos {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0;
    
    .divDescricaoCard {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 2%;
      
      p {
        margin-top: 5%;
      }
    }
    
    a {
      max-width: 60%;
    }
    
    img {
      width: 100%;
    }
  
    h6 {
      font-size: 20px;
      text-align: center;
      margin: 1% 0;
      color: var(--black);
    }
  }

  .categoriaProjeto {
    display: flex;
    flex-wrap: wrap;
    
    #itemCategoria {
      margin-right: 1%;
    }
  }

  .sectionOutrosProjetos {
    width: 90%;
    flex-wrap: wrap;
  }

  .CardOutrosProjetos {
    border: 1px solid #c3c3c3;
  }
}

@media (min-width: 901px) and (max-width: 1366px) {
  .containerProjetos {
    
    h2 {
      font-size: 42px;
      font-weight: 700;
      text-align: center;
      margin: 5% 0;
    }
  }
  
  #tituloOutros {
    width: 90%;
  }

  .divTituloProjetos {
    width: 90%;
  
    img {
      width: 100%;
    max-width: 200px;
    }
  }

  .CardProjetos {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0;
    
    .divDescricaoCard {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 2%;
      
      p {
        margin-top: 5%;
      }
    }
    
    a {
      max-width: 60%;
    }
    
    img {
      width: 100%;
    }
  
    h6 {
      font-size: 20px;
      text-align: center;
      margin: 1% 0;
      color: var(--black);
    }
  }

  .categoriaProjeto {
    display: flex;
    flex-wrap: wrap;
    
    #itemCategoria {
      margin-right: 1%;
    }
  }

  .sectionOutrosProjetos {
    width: 90%;
    flex-wrap: wrap;
  }

  .CardOutrosProjetos {
    border: 1px solid #c3c3c3;
  }
}